* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    transition: all 0.3s; /* Smooth transition for all elements */
}

body, html {
    height: 100%;
    font-family: 'Arial', sans-serif;
    color: #333; /* Dark grey text for better readability */
}

.main-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.header {
    background-color: #f4f4f4;
    padding: 20px;
    text-align: center;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1); /* Light shadow for depth */
}

.nav {
    display: flex;
    justify-content: space-around;
    background-color: #333;
    color: white;
}

.nav a {
    color: white;
    text-decoration: none;
    padding: 14px 20px;
    display: block;
    transition: background-color 0.3s, color 0.3s; /* Smooth transition for hover effects */
}

.nav a:hover {
    background-color: #ddd;
    color: black;
}

.drawing-page {
    flex: 1;
    display: flex;
    flex-direction: row;
    padding: 20px 0; /* Added padding for spacing */
}

.canvas-container {
    flex: 3;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #eee;
    margin: 0 10px; /* Added margin for spacing */
    box-shadow: 0 2px 5px rgba(0,0,0,0.1); /* Light shadow for depth */
}

.tools-container {
    flex: 1;
    padding: 20px;
    background-color: #f9f9f9;
    margin: 0 10px; /* Added margin for spacing */
    box-shadow: 0 2px 5px rgba(0,0,0,0.1); /* Light shadow for depth */
    overflow-y: auto; /* In case of many tools, allow scroll */
}

.tool-button {
    display: block;
    margin: 10px 0;
    padding: 10px;
    width: 100%;
    cursor: pointer;
    background-color: #ffffff; /* Lighter button for contrast */
    border: 1px solid #ddd; /* Subtle border */
    border-radius: 5px; /* Rounded corners */
}

.tool-button:hover {
    background-color: #ddd;
}

.notes-page {
    flex: 1;
    display: flex;
    flex-direction: column;
    padding: 20px;
}

.note {
    margin: 10px 0;
    padding: 20px;
    background-color: #f9f9f9;
    border-left: 5px solid #333;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1); /* Light shadow for depth */
}

@media (max-width: 768px) {
    .drawing-page, .notes-page {
        flex-direction: column;
    }

    .canvas-container, .tools-container {
        flex: none;
        width: 100%;
        margin: 10px 0; /* Adjusted for mobile view */
    }

    .nav {
        flex-direction: column;
    }

    .nav a {
        text-align: center;
        padding: 10px;
    }
}